@media screen and (max-width: 900px){

/* ---------- Pai ---------- */
#container{
	display:grid;
	grid-gap:0rem 1rem;
	grid-template-areas:
	"cabecalho cabecalho"
	"banner banner"
	"corpo corpo"
	"rodape rodape";
}

/* ---------- Contatos ---------- */
.contatos{
	width:90%;
}

#email2, #tel, #whats{
	display:block;
	font-size: 1.3em;
}

#email3{
	display: block;
	/*! font-size: 1.3em; */
	margin-right: 8px;
}

#email{
	display:none;
}

#Img{
	width: 2.2em;
	height: 2em;
	margin-top: 13px;
}


/* ---------- Menu Ícone para Tablet e Smartphone ---------- */
.menu_icone{
	display:block;
	background-color:#000;
	width:50px;
	height:50px;
	position: relative;
    right: 10px;
    float: right;
	cursor:pointer;
}

.traco{
	width:40px;
	height:5px;
	background-color:#CCC;
	position:absolute;
	margin-top: 23px;
    margin-left: 5px;
	border-radius: 3px;
}

.traco:before, .traco:after{
	background-color:#CCC;
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	border-radius: 3px;
}

.traco:before{
	top: 13px;
}
.traco:after{
	bottom: 13px;
}

#marcacao ~ label .traco, .traco:before, .traco:after{
	transition:1s;
}
#marcacao:checked ~ label .traco, .traco:before, .traco:after{
	transition:1s;
}

#marcacao:checked ~ label .traco{
	transform:rotate(180deg);
}

#marcacao:checked ~ label .traco:before{
	transform:rotate(205deg);
	top: 6px;
    right: 10px;
    width: 75%;
}

#marcacao:checked ~ label .traco:after{
	transform:rotate(335deg);
	bottom: 6px;
    right: 10px;
    width: 75%;
}

/* ---------- Menu ---------- */
.menu{
	display: block;
	margin-top: 50px;
	width: 20%;
	height: 250px;
	margin-right: -20%;
	transition: all 0.8s;
}

.menu > ul{
	margin:0px;
	height:250px;
	display:none;
}

.menu > ul > label > li{
	float:none;
	text-align:center;
	height:32px;
	padding: 30px 13px 21px 13px;
}

#marcacao:checked ~ .menu{
	display:block;
	margin-right: 0px;
	background-color:#000;
}

#marcacao:checked ~ .menu > ul{
	display:block;
}

#Radio1:checked ~ label > #li_1{
	background-color:#333;
}

#Radio2:checked ~ label > #li_2{
	background-color:#333;
}

#Radio3:checked ~ label > #li_3{
	background-color:#333;
}

#Radio1:checked ~ label > li > .menutextos1{
	margin-top: -46px;
}

#Radio2:checked ~ label > li > .menutextos2{
	margin-top: -145px;
}

#Radio3:checked ~ label > li > .menutextos3{
	margin-top: -212px;
}

/* ---------- SubMenu Hover ---------- */

.menu ul li:hover .menutextos1{
	margin-top: -46px;
}
.menu ul li:hover .menutextos2{
	margin-top: -145px;
	z-index: -1;
}
.menu ul li:hover .menutextos3{
	margin-top: -212px;
}

/* --------------- SubMenus --------------- */

/* ---------- Menu Textos 1 ---------- */

.menutextos1{
	height: 250px;
	margin-left: -409%;
	margin-top: -346px;
	width: 405%;
	padding: 0px;
	display: block;
	transition: 1s;
	background-color: #000;
}

.textos1{
	width: 100%;
	margin: 0px 0px 0px 10px;
	height: 250px;
}

.menutextos1 p{
	width: 57vw;
	margin-top: 33px;
	margin-left: 18vw;
}

.menutextos1 hr{
	margin: 0px 0px 0px 40px;
}

/* ---------- Menu Textos 2 ---------- */

.menutextos2{
	margin-top: -445px;
	margin-right: 100%;
	width: 400%;
	height: 250px;
	display: block;
	transition: 1s;
}

.textos2{
	margin-left: 0px;
}

/* ---------- Menu Textos 3 ---------- */

.menutextos3{
	margin-top: -512px;
	height: 250px;
	margin-left: -410%;
	width: 362%;
	display: block;
	transition: 1s;
}

.textos3{
	margin-left: -3vw;
	width: 100%;
}

/* ---------- Banner ---------- */
.slide img {
    width: 100%;
    height: 100%;
}


/* ---------- Corpo cor escura ---------- */
.corpo1{
	height: 90vw;
	display:block;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	height: 90vw;
	display:block;
}

/* ---------- Quadrados ---------- */
.quadrados{
	width:50%;
	float:left;
	margin-top:100px;
}

#corpo h1{
	font-size: 5vw;
	margin: 50px auto 0px 4.5%;
	max-width: 90%;
}

.gambiarra{
	display:block;
	padding-bottom:10vw;
}

#corpo h3{
	margin: 0px auto 0px auto;
	font-size: 20px;
}

#corpo img{
	margin: 20px auto 0px auto;
	width: 50%;
}

/* ---------- Rodapé ---------- */

.centralizar{
	width:85%;
	margin:0px auto;
	padding:0px;
	height:250px;
}

.contatosrodape{
	width:50%;
	height:auto;
	float:left;
	padding-top:45px;
}

.contatosrodape img{
	width:2em;
	height:1.9em;
	margin:15px 10px 0px 3vw;
	padding:0px;
	float:left;
}

.img_esq{
	margin-left: 15vw !important;
}

.contatosrodape h3{
	color:#FFF;
	margin-left: 50px;
	text-decoration: none;
}

.contatosrodape p{
	margin:18px 0px 0px 65px;
	font-size:1.2em;
	color:#FFF;
	padding:0px 0px 25px 0px;
	text-decoration:none;
}

.DA{
	width:50%;
	height:50px;
	margin:0px auto;
	padding:0px;
}

.DA p{
	color:#BBB;
	padding: 20px 0px 0px 0px;
    margin: 0px;
    text-align: center;
    font-size: 0.7em;
    font-weight: lighter;
}

}