@media screen and (max-width: 720px) and (orientation: portrait){
	
/* ---------- Pai ---------- */
#container{
	display:grid;
	grid-gap:0rem 1rem;
	grid-template-areas:
	"cabecalho"
	"banner"
	"corpo"
	"rodape";
	position: relative;
}

/* ---------- Informações ---------- */
.informacoes{
	height:80px;
	position: absolute;
}

/* ---------- Contatos ---------- */
.contatos{
	width:25%;
	height:80px;
}

.contatos img{
	width:3.3em;
	height:3.2em;
	margin:18px 0px 0px 25px;
	padding:0px;
}

#email, #email2, #tel, #whats{
	display:none;
}

#email3{
	display:block;
}

#Img{
	width: 3.3em;
	height: 3.1em;
	margin-top: 18px;
}

/* ---------- Menu Ícone para Tablet e Smartphone ---------- */
.menu_icone{
	height: 80px;
	width: 80px;
}

.traco{
	width: 50px;
	height: 8px;
	border-radius: 10px;
	margin-top: 35px;
	margin-left: 8px;
}

.traco:before, .traco:after{
	border-radius: 10px;
}

.traco:before{
	top: 17px
}
.traco:after{
	bottom: 17px;
}

#marcacao:checked ~ label .traco{
	transform:rotate(220deg);
}

#marcacao:checked ~ label .traco:before{
	transform:rotate(276deg);
	top: 0px;
	right: 0px;
	width: 100%;
}

#marcacao:checked ~ label .traco:after{
	transform:rotate(276deg);
	bottom: 0px;
	right: 0px;
	width: 100%;
}


/* ---------- Menu ---------- */
.menu{
	width: 100%;
	margin-top: 80px;
	height: auto;
}

.menu > ul{
	width: 100%;
	overflow: hidden;
	height: auto;
}

.menu > ul > label > li{
	overflow: hidden;
	display: block;
	position: relative;
}

.titulo_li{
	cursor: text;
}

#li_1{
	transition: ease-in-out 0.8s;
}
#li_1:hover{
	height: 330px;
}
#li_1:hover .menutextos1{
	max-height: 20em;
	background-color:#333;
}
#li_1:hover .titulo_li{
	font-size: 3em;
	font-weight: 900;
}

#li_2{
	transition: ease-in-out 0.8s;
}
#li_2:hover{
	height: 50vw;
}
#li_2:hover .menutextos2{
	max-height: 42vw;
	height: 42vw;
	background-color:#333;
}
#li_2:hover .titulo_li{
	font-size: 3em;
	font-weight: 900;
}

#li_3{
	transition: ease-in-out 0.8s;
}
#li_3:hover{
	height: 320px;
}
#li_3:hover .menutextos3{
	max-height: 20em;
	background-color:#333;
}
#li_3:hover .titulo_li{
	font-size: 3em;
	font-weight: 900;
}

#Radio1:checked ~ label > #li_1{
	height: 330px;
}
#Radio1:checked ~ label > #li_1 .menutextos1{
	max-height: 20em;
	background-color:#333;
}
#Radio1:checked ~label > #li_1 .titulo_li{
	font-size: 3em;
	font-weight: 900;
}

#Radio2:checked ~ label > #li_2{
	height: 330px;
}
#Radio2:checked ~ label > #li_2 .menutextos2{
	max-height: 38vw;
	height: 38vw;
	background-color:#333;
}
#Radio2:checked ~label > #li_2 .titulo_li{
	font-size: 3em;
	font-weight: 900;
}

#Radio3:checked ~ label > #li_3{
	height: 320px;
}
#Radio3:checked ~ label > #li_3 .menutextos3{
	max-height: 20em;
	background-color:#333;
}
#Radio3:checked ~label > #li_3 .titulo_li{
	font-size: 3em;
	font-weight: 900;
}

#Radio1:checked ~ label > li > .menutextos1{
	margin-top: 10px;
}

#Radio2:checked ~ label > li > .menutextos2{
	margin-top: 10px;
}

#Radio3:checked ~ label > li > .menutextos3{
	margin-top: 10px;
}


/* ---------- SubMenu Hover ---------- */

.menu ul li:hover .menutextos1{
	margin-top: 10px;
}
.menu ul li:hover .menutextos2{
	margin-top: 10px;
}
.menu ul li:hover .menutextos3{
	margin-top: 10px;
}

/* --------------- SubMenus --------------- */

/* ---------- Menu Textos 1 ---------- */

.menutextos1{
	margin-left: -3%;
	width: 106%;
	margin-top: 37px;
	overflow: hidden;
	transition: max-height 0.8s;
	max-height: 0;
	position: initial;
}

.textos1{
	display: block;
	margin-top: -5px;
	margin-left: 0px;
}

.menutextos1 h4{
	float: left;
	margin: 4vw 15px 0px 5vw;
	width: 92px;
	box-sizing:border-box;
}

.menutextos1 p{
	width: 62vw;
	margin-left: 28vw;
	margin-top: 5vw;
	box-sizing: border-box;
}

.menutextos1 hr{
	width: 88%;
	margin-left: 5vw;
}

/* ---------- Menu Textos 2 ---------- */

.menutextos2{
	margin-left: -5%;
	width: 110%;
	margin-top: 35px;
	overflow: hidden;
	transition: max-height 0.3s;
	max-height: 0;
	position: initial;
}

.textos2{
	display: block;
	height: 42vw;
}

/* ---------- Menu Textos 3 ---------- */

.menutextos3{
	margin-top: 38px;
	margin-left: -3%;
	width: 100%;
	overflow: hidden;
	transition: max-height 0.3s;
	max-height: 0;
	position: initial;
	padding-left: 18%;
}

.textos3{
	display: block;
	margin-top: -10px;
}

.menutextos3 p{
	width:70vw;
	margin:20px 0px 0px 0vw;
	text-align:center;
}

.menutextos3 i{
	font-size:25px;
	margin: 0px 0px 0px -5px;
}


/* ---------- Julio Marcelino ---------- */
.nome{
	margin:80px auto 0px auto;
	height:auto;
}

.nomecentro {
    margin: 0px auto;
    width: 90%;
    padding-top: 10px;
    font-size: 1em;
}

.nome h1 {
    font-size: 6em;
    margin-top: 15px;
}

.nome button {
    padding: 12px 15px;
    font-size: 1.2em;
    margin-left: 65%;
}

.enfeite1 {
    margin: 12% 0px 0px 15%;
}

.enfeite2 {
    margin: 4% 0px 0px 45%;
}

/* ---------- Banner ---------- */
#banner{
	margin-top:110px;
	margin-bottom: 10vw;
}
.Bt{
	width: 6vw;
    height: 6vw;
    border-radius: 50%;
    margin: 0px 2vw;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 1500px;
	max-height: 1800px;
	height: 260vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 1500px;
	max-height: 1800px;
	height: 260vw;
}

/* ---------- Quadrados ---------- */
.quadrados{
	width: 100%;
}

#corpo h1{
	font-size: 6vw;
}

#corpo h3{
	font-size: 25px;
}

#corpo img{
	width: 55%;
}

/* ---------- Rodapé ---------- */
#rodape{
	background-color:#333;
	width: 100%;
	height: 520px;
	grid-area: rodape;
}

.centralizar{
	width: 315px;
	padding-top: 45px;
	height: 395px;
}

.contatosrodape{
	height:180px;
	padding-top:0px;
	width: 240px;
}

.contatosrodape img{
	width: 2.6em;
	height: 2.5em;
	margin: 15px 0px 0px 30px;
}

.img_esq{
	margin-left: 4vw !important;
}

.contatosrodape h3{
	font-size: 1.5em;
	padding:0px;
	margin: 5px 0px 0px 90px;
	width: 110px;
	text-decoration: none;
}

.contatosrodape p{
	margin: 23px 0px 0px 90px;
	font-size: 1.1em;
}

.DA{
	padding-top:30px;
}

.DA p{
	font-size: 0.7em;
}

}

@media screen and (max-width: 700px) and (orientation: portrait){

#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 40vw;
    height: 40vw;
}
}
@media screen and (max-width: 680px) and (orientation: portrait){

#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 41vw;
    height: 41vw;
}
}
@media screen and (max-width: 640px) and (orientation: portrait){

/* ---------- Banner ---------- */
#banner{
	height:420px;
}
.BannerSlide{
	height: 420px;
}
.SlidesImagens{
    height: 420px;
}

#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 43vw;
    height: 43vw;
}
.textos2{
	height: 43vw;
}
}
@media screen and (max-width: 620px) and (orientation: portrait){
/* ---------- Menu Textos 1 ---------- */
#Radio1:checked ~ label > #li_1{
    max-height: 52vw;
    height: 52vw;
}
#Radio1:checked ~ label > #li_1 .menutextos1{
    max-height: 46vw;
    height: 46vw;
}
.textos1{
	height: 45vw;
}

/* ---------- Menu Textos 2 ---------- */
#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 46vw;
    height: 46vw;
}
.textos2{
	height: 45vw;
}
}
@media screen and (max-width: 580px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
#li_1:hover{
    height: 58vw;
}
#Radio1:checked ~ label > #li_1{
    height: 58vw;
}

/* ---------- Menu Textos 2 ---------- */
#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 48vw;
    height: 48vw;
}
.textos2{
	height: 48vw;
}
}

@media screen and (max-width: 546px) and (orientation: portrait){

#li_2:hover{
    height: 62vw;
}

#Radio2:checked ~ label > #li_2{
	height: 62vw;
}

#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 44vw;
    height: 44vw;
}
.textos2{
	height: 44vw;
}
}

@media screen and (max-width: 540px) and (orientation: portrait){
/* ---------- Menu Textos 1 ---------- */
#li_1:hover{
    height: 55vw;
}
#Radio1:checked ~ label > #li_1{
	max-height: 55vw;
    height: 55vw;
}

/* ---------- Menu Textos 2 ---------- */
#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 44vw;
    height: 44vw;
}
.textos2{
	height: 44vw;
}

/* ---------- Corpo cor escura ---------- */
.corpo1 {
    min-height: 1380px;
    height: 280vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2 {
    min-height: 1380px;
    height: 280vw;
}

}

@media screen and (max-width: 520px) and (orientation: portrait){
/* ---------- Menu Textos 1 ---------- */
#li_1:hover{
    height: 55vw;
}
#Radio1:checked ~ label > #li_1{
	max-height: 55vw;
    height: 55vw;
}

@media screen and (max-width: 497px) and (orientation: portrait){

/* ---------- Julio Marcelino ---------- */
.nomecentro {
    width: 85%;
}
.enfeite1 {
    margin: 20% 0px 0px 15%;
}

.nome h1 {
    font-size: 4em;
    margin-top: 50px;
}

.nome button {
    padding: 10px 10px;
    font-size: 1em;
    margin-left: 55%;
}

.enfeite2 {
    margin: 8% 0px 0px 35%;
}

/* ---------- Menu Textos 1 ---------- */

#li_1:hover{
    height: 58vw;
}
#li_1:hover .menutextos1{
    max-height: 50vw;
    height: 50vw;
}
#Radio1:checked ~ label > #li_1{
	max-height: 58vw;
	height: 58vw;
}
#Radio1:checked ~ label > #li_1 .menutextos1{
    max-height: 50vw;
    height: 50vw;
}
.textos1{
	height: 50vw;
}

/* ---------- Menu Textos 2 ---------- */

#li_2:hover{
    height: 65vw;
}
#li_2:hover .menutextos2{
    max-height: 65vw;
    height: 65vw;
}
#Radio2:checked ~ label > #li_2{
	max-height: 65vw;
	height: 65vw;
}
#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 45vw;
    height: 45vw;
}
.textos2{
	height: 45vw;
}

}


@media screen and (max-width: 480px) and (orientation: portrait){
/* ---------- Banner ---------- */
#banner{
	height:350px;
}
.BannerSlide{
	height: 350px;
}
.SlidesImagens{
    height: 350px;
}
}

@media screen and (max-width: 460px) and (orientation: portrait){
/* ---------- Menu Textos 1 ---------- */

#li_1:hover{
    height: 62vw;
}
#Radio1:checked ~ label > #li_1{
	max-height: 62vw;
	height: 62vw;
}

/* ---------- Menu Textos 2 ---------- */
#Radio2:checked ~ label > #li_2{
    height: 68vw;
	max-height: 68vw;
}
}

@media screen and (max-width: 449px) and (orientation: portrait){

/* ---------- Menu ---------- */

#li_1:hover{
	height: 62vw;
}
#li_1:hover .menutextos1{
	max-height: 60vw;
	height: 60vw;
	margin-top: 2vw;
}

#li_2:hover{
	height: 75vw;
}
#li_2:hover .menutextos2{
	max-height: 55vw;
	height: 55vw;
	margin-top: 2vw;
}

#li_3:hover{
	height: 70vw;
}
#li_3:hover .menutextos3{
	max-height: 65vw;
	height: 62vw;
	margin-top: 0vw;
}

#Radio1:checked ~ label > #li_1{
	height: 70vw;
}
#Radio1:checked ~ label > #li_1 .menutextos1{
	max-height: 60vw;
	height: 60vw;
	margin-top: 2vw;
}

#Radio2:checked ~ label > #li_2{
	height: 75vw;
	max-height: 75vw;
}
#Radio2:checked ~ label > #li_2 .menutextos2{
	max-height: 55vw;
	height: 55vw;
	margin-top: 2vw;
}

#Radio3:checked ~ label > #li_3{
	height: 70vw;
}
#Radio3:checked ~ label > #li_3 .menutextos3{
	max-height: 65vw;
	height: 62vw;
	margin-top: 0vw;
}

/* ---------- Menu Textos 1 ---------- */

.menutextos1 {
	max-height: 60vw;
    height: 60vw;
}

.menutextos1 h4{
	margin: 4vw 10px 0px 1vw;
}

.menutextos1 p{
	width: 55vw;
	margin-left: 35vw;
	margin-top: 5vw;
	text-align: initial;
}

.menutextos1 hr{
	width: 85%;
}

.textos1{
	height:60vw;
	margin-top: 0px;
	margin-left: 2%;
}

.menutextos1 h4 {
    margin: 4vw 10px 0px 3vw;
}

.menutextos1 p {
    width: 60vw;
    margin-left: 30vw;
    text-align: initial;
}

/* ---------- Menu Textos 2 ---------- */
.textos2{
	height: 75vw;
	width: 101%;
}

/* ---------- Menu Textos 3 ---------- */
.textos3{
	height: 65vw;
}

/* ---------- Julio Marcelino ---------- */

.nomecentro{
	width: 90%;
}

.enfeite1 {
    margin: 20% 0px 0px 15%;
}

.nome h1 {
    font-size: 4em;
    margin-top: 50px;
}

.nome button {
    padding: 10px 10px;
    font-size: 1em;
    margin-left: 55%;
}

.enfeite2 {
    margin: 8% 0px 0px 35%;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 300vw;
	max-height: 300vw;
	height: 300vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 300vw;
	max-height: 300vw;
	height: 300vw;
}

/* ---------- Quadrados ---------- */
.quadrados{
	width:100%;
}

#corpo h1{
	font-size: 6vw;
}

#corpo h3{
	font-size: 25px;
}

#corpo img{
	width: 55%;
}

/* ---------- Rodapé ---------- */
#rodape{
	background-color:#333;
	width:100%;
	height:520px;
	grid-area: rodape;
}

.centralizar{
	width: 315px;
	padding-top: 45px;
	height: 395px;
}

.contatosrodape{
	height:180px;
	padding-top:0px;
	width: 240px;
}

.contatosrodape img{
	width: 2.6em;
	height: 2.5em;
	margin: 15px 0px 0px 30px;
}

.img_esq{
	margin-left: 8vw !important;
}

.contatosrodape h3{
	font-size: 1.5em;
	padding:0px;
	margin: 5px 0px 0px 90px;
	width: 110px;
	text-decoration: none;
}

.contatosrodape p{
	margin: 23px 0px 0px 90px;
	font-size: 1.1em;
}

.DA{
	padding-top:30px;
}

.DA p{
	font-size: 0.6em;
}

}

@media screen and (max-width: 440px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
#Radio1:checked ~ label > #li_1{
    height: 70vw;
	max-height: 70vw;
}
#li_1:hover{
	height: 70vw;
}
/* ---------- Menu Textos 2 ---------- */
#Radio2:checked ~ label > #li_2{
    height: 75vw;
	max-height: 75vw;
}
#li_2:hover{
	height: 75vw;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 310vw;
	max-height: 310vw;
	height: 310vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 310vw;
	max-height: 310vw;
	height: 310vw;
}

}

@media screen and (max-width: 420px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
#Radio1:checked ~ label > #li_1{
    height: 72vw;
}
#Radio1:checked ~ label > #li_1 .menutextos1{
    max-height: 65vw;
    height: 65vw;
    margin-top: 0vw;
}
#li_1:hover{
	height: 72vw;
}
#li_1:hover .menutextos1{
	max-height: 65vw;
	height: 65vw;
	margin-top: 0vw;
}

/* ---------- Menu Textos 2 ---------- */
#li_2:hover{
	height: 75vw;
}
#Radio2:checked ~ label > #li_2{
    height: 75vw;
}
#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 55vw;
    height: 55vw;
    margin-top: 0vw;
}
#li_2:hover{
	height: 75vw;
}
#li_2:hover .menutextos2{
	max-height: 55vw;
	height: 55vw;
	margin-top: 0vw;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 315vw;
	max-height: 315vw;
	height: 315vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 315vw;
	max-height: 315vw;
	height: 315vw;
}

}

@media screen and (max-width: 400px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
.menutextos1 p{
	width: 64vw;
}

/* ---------- Menu Textos 2 ---------- */
#Radio2:checked ~ label > #li_2{
    height: 78vw;
	max-height: 78vw;
}
#Radio2:checked ~ label > #li_2 .menutextos2{
    max-height: 55vw;
    height: 55vw;
    margin-top: 0vw;
}
#li_2:hover{
	height: 78vw;
}
#li_2:hover .menutextos2{
	max-height: 55vw;
	height: 55vw;
	margin-top: 0vw;
}

/* ---------- Menu Textos 3 ---------- */
#li_3:hover{
	height: 78vw;
}
#Radio3:checked ~ label > #li_3{
    height: 78vw;
	max-height: 78vw;
}

/* ---------- Corpo cor escura ---------- */
#corpo h1{
	font-size: 1.5em;
}
.corpo1{
	min-height: 325vw;
	max-height: 325vw;
	height: 325vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 325vw;
	max-height: 325vw;
	height: 325vw;
}

}

@media screen and (max-width: 395px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
.menutextos1 p{
	font-size: 0.9em;
}

/* ---------- Menu Textos 3 ---------- */
.menutextos3 p{
	font-size: 0.9em;
}

}

@media screen and (max-width: 380px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
.menutextos1 p{
	margin-left: 32vw;
}

/* ---------- Menu Textos 3 ---------- */
.menutextos3 p{
	margin-top: 16px;
}

/* ---------- Julio Marcelino ---------- */
.enfeite2 {
	margin-left: 32%;
}


/* ---------- Banner ---------- */
#banner{
	height:250px;
}
.BannerSlide{
	height: 250px;
}
.SlidesImagens{
    height: 250px;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 330vw;
	max-height: 330vw;
	height: 330vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 330vw;
	max-height: 330vw;
	height: 330vw;
}

}

@media screen and (max-width: 360px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
.menutextos1 h1{
	margin-top: 3vw;
}
.menutextos1 p{
	margin-top: 4vw;
	margin-bottom: 3vw;
}

.BR{
	display: none;
}

/* ---------- Menu Textos 2 ---------- */
#Radio2:checked ~ label > #li_2{
    height: 80vw;
	max-height: 80vw;
}

/* ---------- Menu Textos 3 ---------- */
.menutextos3 p{
	margin-top: 13px;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 345vw;
	max-height: 345vw;
	height: 345vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 345vw;
	max-height: 345vw;
	height: 345vw;
}

}

@media screen and (max-width: 340px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
.menutextos1 h4{
	margin-left: 0vw;
}

.menutextos1 p{
	margin-bottom: 0vw;
}

/* ---------- Menu Textos 3 ---------- */
.menutextos3 p{
	margin-top: 7px;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 355vw;
	max-height: 355vw;
	height: 355vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 355vw;
	max-height: 355vw;
	height: 355vw;
}

}

@media screen and (max-width: 330px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
.menutextos1 h4{
	font-size: 0.9em;
	margin-left: -3%;
	margin-top: 2%;
}

.menutextos1 p{
    margin-left: 29vw;
	margin-top: 3%;
}

/* ---------- Menu Textos 3 ---------- */
#li_3:hover{
	height: 82vw;
}
#Radio3:checked ~ label > #li_3{
    max-height: 82vw;
    height: 82vw;
    margin-top: 0vw;
}
.menutextos3 p{
	margin-top: 6px;
}

/* ---------- Julio Marcelino ---------- */
.enfeite2 {
	margin-left: 30%;
}
}

@media screen and (max-width: 320px) and (orientation: portrait){

/* ---------- Menu Textos 1 ---------- */
.menutextos1 h4{
	box-sizing: border-box;
	padding-bottom: 12%;
}

#li_1:hover .titulo_li{
	font-size: 2em !important;
}
#Radio1:checked ~ label > #li_1 > .titulo_li{
	font-size: 2em !important;
}

#li_2:hover .titulo_li{
	font-size: 2em !important;
}
#Radio2:checked ~ label > #li_2 > .titulo_li{
	font-size: 2em !important;
}

#li_3:hover .titulo_li{
	font-size: 2em !important;
}
#Radio3:checked ~ label > #li_3 > .titulo_li{
	font-size: 2em !important;
}

/* ---------- Menu Textos 3 ---------- */
#li_3:hover{
	height: 80vw;
}
#Radio3:checked ~ label > #li_3{
    max-height: 80vw;
    height: 80vw;
    margin-top: 0vw;
}
#li_3:hover .menutextos3{
	max-height: 78vw;
    height: 78vw;
    margin-top: 0vw;
}

#Radio3:checked ~ label > #li_3 .menutextos3{
    max-height: 78vw;
    height: 78vw;
    margin-top: 0vw;
}
.menutextos3 p{
	margin-top: 12px;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 370vw;
	max-height: 370vw;
	height: 370vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 370vw;
	max-height: 370vw;
	height: 370vw;
}

}

@media screen and (max-width: 300px) and (orientation: portrait){
#cabecalho{
	height: 270px;
}
.informacoes{
	display: none;
}
.nome{
    height: 270px;
	width: 100vw;
	float: left;
	margin-top: 10px;
}
.enfeite1{
    margin: 18% 0px 0px 12%;
}
.enfeite2{
    margin: 6% 0px 0px 28%;
}
.nome h1{
	font-size: 3em;
    margin-top: 32px;
	margin-right: 3vw;
}
.nome button{
	font-size: 0.7em;
}


#banner{
    margin-top: 0px;
}


.menutextos1 h4{
	font-size: 0.8em;
	margin-top: 1%;
}
.menutextos1 p{
	font-size: 0.8em;
	margin-top: 2%;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 380vw;
	max-height: 380vw;
	height: 380vw;
}
#corpo h3{
	font-size: 1em;
}
#corpo h1{
	font-size: 1.2em;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 380vw;
	max-height: 380vw;
	height: 380vw;
}

/* ---------- Rodapé ---------- */
#rodape{
	width: 100vw;
	height: 125vw;
}

.centralizar{
	width: 100vw;
	padding-top: 15px;
	height: 85vw;
}

.contatosrodape{
	height: 35vw;
	padding-top: 0px;
	width: 100vw;
}

.contatosrodape img{
	width: 1.5em;
	height: 1.5em;
	margin-bottom: 0vw;
	margin-left: 15vw;
}

.contatosrodape p{
	margin: 20px 0px 0px 28vw;
	font-size: 0.8em;
	padding-bottom: 10px;
}
.img_esq{
    margin-left: 15vw !important;
}

.DA{
	padding-top: 18vw;
	width: 100vw;
	height:auto;
}

.DA p{
	font-size: 0.6em;
	padding: 0px;
}

}

@media screen and (max-width: 260px) and (orientation: portrait){
/* ---------- Banner ---------- */
#banner{
	height: 180px;
}
.BannerSlide{
	height: 180px;
}
.SlidesImagens{
    height: 180px;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 400vw;
	max-height: 400vw;
	height: 400vw;
}
#corpo h3{
	font-size: 1em;
}
#corpo h1{
	font-size: 1.2em;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 400vw;
	max-height: 400vw;
	height: 400vw;
}
}

@media screen and (max-width: 245px) and (orientation: portrait){
/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 415vw;
	max-height: 415vw;
	height: 415vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 415vw;
	max-height: 415vw;
	height: 415vw;
}
}

@media screen and (max-width: 230px) and (orientation: portrait){

/* ---------- Corpo cor escura ---------- */
.corpo1{
	min-height: 450vw;
	max-height: 460vw;
	height: 450vw;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	min-height: 450vw;
	max-height: 460vw;
	height: 450vw;
}

/* ---------- Rodapé ---------- */
.contatosrodape img{
	margin-left: 10vw;
}

.contatosrodape p{
	margin-left: 25vw;
}
.img_esq{
	margin-left: 10vw !important;
}

}

@media screen and (max-width: 215px) and (orientation: portrait){
#cabecalho{
	height: 200px;
}
.nome {
    height: 200px;
    margin-top: 0px;
}
.enfeite{
	display: none;
}
.nome h1{
	font-size: 2.3em;
    margin-top: 32px;
	margin-right: 3vw;
}
.nome button{
	font-size: 0.6em;
	padding: 5px 8px;
}

/* ---------- Rodapé ---------- */
.contatosrodape img{
	width: 1em;
	height: 1em;
	margin-left: 10vw;
}

.contatosrodape p{
	margin-left: 26vw;
	font-size: 0.7em;
	margin-top: 15px;
}
.img_esq{
	margin-left: 10vw !important;
}

.DA p{
	font-size: 0.5em;
}

}