@charset "utf-8";
body{
	margin:0px;
	font-family:"Myriad Pro";
	background: linear-gradient(180deg, rgba(0,0,0,1) 2%,
	rgba(100,100,100,1) 2%, rgba(200,200,200,1) 32.7%,
	rgba(150,150,150,1) 32%, rgba(200,200,200,1) 51%,
	rgba(200,200,200,1) 51%, rgba(200,200,200,1) 69.4%,
	rgba(150,150,150,1) 69%, rgba(200,200,200,1) 87.8%,
	rgba(200,200,200,1) 86%, rgba(200,200,200,1) 100%) no-repeat;
}
/* ---------- Pai ---------- */
#container{
	margin: 0px auto;
	max-width: 1366px;
	display:grid;
	grid-gap:0rem 1rem;
	grid-template-areas:
	"cabecalho cabecalho cabecalho cabecalho"
	"banner banner banner banner"
	"corpo corpo corpo corpo"
	"rodape rodape rodape rodape";
	position: relative;
}
/* ---------- Cabeçalho ---------- */
#cabecalho{
	background-color:#FFF;
	width:100%;
	height:300px;
	grid-area: cabecalho;
	position: relative;
}
/* ---------- Informações ---------- */
.informacoes{
	width:100%;
	max-width: 1366px;
	height:50px;
	background-color:#000;
	color:#FFF;
	position:fixed;
	top: 0px;
	z-index:99;
}
/* ---------- Contatos ---------- */
.contatos{
	width:56%;
	height:50px;
	float:left;
	display:flex;
	margin-left:3px;
	font-size:0.8em;
	z-index:98;
	background-color:#000;
	position:absolute;
}
.contatos img{
	width:1.6em;
	height:1.5em;
	margin:15px 0px 0px 10px;
	padding:0px;
}
.contatos p{
	margin:18px 0px 0px 8px;
	font-size:1em;
}

#email, #tel, #whats{
	display:block;
}

#email2, #email3{
	display:none;
}

/* ---------- Menu Principal ---------- */
.menu{
	position:absolute;
	right:0px;
	width:44%;
	height:50px;
	font-size:0.8em;
}
.menu > ul{
	padding:0px;
	margin:2px 3px 0px 0px;
	float:right;
}
.menu > ul > label > li {
	list-style:none;
	padding:15px 13px;
	margin:0px;
	float:left;
	cursor:pointer;
}

.menu input[type=radio]{
	display: none;
}

/* ---------- SubMenu Hover ---------- */
.menu > ul > label > li:hover{
	background-color:#333;
}
.menu ul li:hover .menutextos1{
	display:block;
	z-index:90;
}
.menu ul li:hover .menutextos2{
	display:block;
	z-index:90;
}
.menu ul li:hover .menutextos3{
	display:block;
	z-index:90;
}

/* ---------- SubMenus ---------- */

/* ---------- Menu Textos 1 ---------- */

.menutextos1{
	background-color:#000;
	width:242%;
	height:252px;
	margin:15px 0px 0px -167%;
	padding:0px 0px 0px 75px;
	display:none;
	position:absolute;
	max-width: 1292px;
}

.textos1{
	width:90%;
	height:auto;
	margin:0px 0px 0px 85px;
	list-style:none;
	float:left;
	position:relative;
	cursor:text;
	box-sizing: border-box;
}

.menutextos1 h4{
	float:left;
	margin:25px 30px 0px 0px;
	height: 10px;
	width: 18%;
	text-align:end;
	padding-bottom:18px;
}
.menutextos1 p{
	width:64vw;
	height:auto;
	margin:35px 0px 0px 20vw;
	text-align:justify;
	max-width: 730px;
	min-width: 730px;
}

.menutextos1 hr{
	width:74%;
	margin-right:20%;
}

/* ---------- Menu Textos 2 ---------- */

.menutextos2{
	background-color:#000;
	width:228%;
	height:252px;
	margin:15px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	display:none;
	position:absolute;
	right:0px;
	max-width: 1366px;
}

.textos2{
	width:100%;
	height:230px;
	margin:0px 0px 0px 17px;
	list-style:none;
	float:left;
	position:relative;
	cursor:text;
	padding:0px;
	overflow:auto;
}

.menutextos2 p{
	width:90%;
	height:auto;
	margin:15px 0px 0px 5%;
	text-align:justify;
}

/* ---------- Menu Textos 3 ---------- */

.menutextos3{
	background-color:#000;
	width:220%;
	height:252px;
	margin:15px 0px 0px -210%;
	padding:0px 0px 0px 75px;
	display:none;
	position:absolute;
	max-width: 1301px;
}

.textos3{
	width:80%;
	height:auto;
	margin:0px 0px 0px 7vw;
	list-style:none;
	float:left;
	position:relative;
	cursor:text;
}

.menutextos3 p{
	width:70vw;
	margin:30px 0px 0px 0vw;
	text-align:center;
	max-width: 900px;
	min-width: 900px;
}

.menutextos3 i{
	font-size:25px;
	margin:-10px 0px 0px -5px;
}

.vermelho{
	color:#F00;
}
.verde{
	color:#0F0;
}
.laranja{
	color:#F90;
}
.azul{
	color:#00F;
}
.amarelo{
	color:#FF0;
}

/* ---------- Checked para Tablet e Smartphones ---------- */
#marcacao{
	display:none;
}

/* ---------- Menu Ícone para Tablet e Smartphone ---------- */

.menu_icone{
	display:none;
}


/* ---------- Julio Marcelino ---------- */
.nome{
	width:100%;
	height:250px;
	margin-top:50px;
	position:relative;
}

.nomecentro{
	margin:0px auto;
	width:480px;
	padding-top:15px;
	box-sizing: border-box;
}

.nome h1{
	text-align:center;
	font-size:4em;
	margin-bottom:0px;
	text-shadow: -1px -1px #3bc5c5, 1px 1px #002692;
	color: cornflowerblue;
}

.nome h1:hover{
	text-shadow: 1px 1px #3bc5c5, -1px -1px #002692;
	color: #08F;
}

.nome button{
	background-color: #992FFC;
	color: white;
	text-shadow:0.08em 0.08em 0.1em #555;
	border: none;
	border-radius: 20px;
	padding: 10px 15px;
	font-size: 1em;
	margin-left: 310px;
	box-shadow: 2px 2px #7923d5, -0.3px -1px #deb2fc;
}
.nome button:hover{
	background-color: #639;
	color: #FFF;
	box-shadow: -0.3px -1px #c879ff, 2px 2px #3d047a;
}

.enfeite{
	font-size: 15px;
    position: absolute;
}
.enfeite1{
	color:#ff4d4d;
	margin: 90px 0px 0px -15px;
    transform: rotate(-25deg);
}
.enfeite2{
	color:#f89945;
	margin: 35px 0px 0px 250px;
    transform: rotate(-35deg);
}
/* ---------- Banner ---------- */
#banner{
	background-color:#000;
	width:100%;
	height:500px;
	position:relative;
	grid-area: banner;
}
.BannerSlide{
	position: absolute;
	height: 500px;
}
.SlidesImagens{
    height: 500px;
    width: 100%;
    margin: 0px auto;
	overflow: hidden;
	position: initial;
}

input[name="S"]{
	position: absolute;
	visibility: hidden;
}

.Slides{
	width: 800%;
	height: 100%;
	display: flex;
}
.slide{
	width: 13%;
	transition: 1s;
}
.slide img{
	width: 100%;
	height: 180%;
}

#S1:checked ~ .rotacao{
	margin-left: 0px;
}
#S2:checked ~ .rotacao{
	margin-left: -13%;
}
#S3:checked ~ .rotacao{
	margin-left: -26%;
}
#S4:checked ~ .rotacao{
	margin-left: -39.5%;
}
#S5:checked ~ .rotacao{
	margin-left: -52%;
}
#S6:checked ~ .rotacao{
	margin-left: -65.2%;
}
#S7:checked ~ .rotacao{
	margin-left: -78.2%;
}
#S8:checked ~ .rotacao{
	margin-left: -91.3%;
}

.Navegacao{
	position:absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	max-width: 1366px;
}
.Bt{
	width: 5vw;
	height: 1vw;
	border: 2px solid #FFF;
	margin: 0px 1vw;
	cursor: pointer;
	transition: all 0.5s;
	border-radius: 15px;
	box-shadow: 2px 2px #333;
}

.Bt:hover{
	background-color: #FFF;
}

/* ---------- Corpo ---------- */
#corpo{
	width:100%;
	grid-area: corpo;
}

/* ---------- Corpo cor escura ---------- */
.corpo1{
	background-color:#969696;
	height:450px;
	display:flex;
}
/* ---------- Corpo cor clara ---------- */
.corpo2{
	background-color:#c8c8c8;
	height:450px;
	display:flex;
}
/* ---------- Quadrados ---------- */
.quadrados{
	position:relative;
	width:25%;
}

#corpo h1{
	width: 100%;
	text-align: center;
	position: absolute;
	font-size: 40px;
	padding: 0px;
	margin: 50px auto 0px auto;
	font-weight:bold;
	text-shadow: 0.08em 0.08em 0.1em #777;
}

.gambiarra{
	display:none;
}

#corpo h3{
	position: relative;
	text-align: center;
	font-size: 15px;
	margin: 180px auto 0px auto;
	padding: 0px;
	font-weight:normal;
}

#corpo img{
	position: relative;
	align-items: center;
	margin: 15px auto 0px auto;
	padding: 0px;
	display: flex;
	width:60%;
}

/* ---------- Rodapé ---------- */
#rodape{
	background-color:#333;
	width:100%;
	height:300px;
	grid-area: rodape;
}

.centralizar{
	width:50%;
	margin:0px auto;
	padding:0px;
	height:250px;
}

.contatosrodape{
	width:50%;
	height:auto;
	float:left;
	padding-top:45px;
}

.contatosrodape img{
	width:1.6em;
	height:1.5em;
	margin:15px 0px 0px 30px;
	padding:0px;
	float:left;
}

.contatosrodape h3{
	color:#FFF;
	margin-left: 50px;
	text-decoration: none;
}

.contatosrodape p{
	margin:18px 0px 0px 65px;
	font-size:0.8em;
	color:#FFF;
	padding:0px 0px 25px 0px;
	text-decoration:none;
}

.DA{
	width:50%;
	height:50px;
	margin:0px auto;
	padding:0px;
}

.DA p{
	color:#BBB;
	padding: 20px 0px 0px 0px;
    margin: 0px;
    text-align: center;
    font-size: 0.7em;
    font-weight: lighter;
}
